@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,200);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);


body {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary_color !important;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  line-height: 1.4 !important; // Base line height
}

p {
  font-size: 1.25em; // Base font size
  margin-bottom: 1.75rem !important; // Base vertical spacing: (1.4 * 1.25) = 1.75
}

h1 {
  font-size: 3em;
  margin-bottom: 3.5rem; // Double the base value for a larger gap (1.75 * 2) = 3.5
}

h2 {
  font-size: 2em;
  margin-bottom: 1.75rem;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1.75rem !important; // Base vertical spacing: (1.4 * 1.25) = 1.75
}

hr {
  margin-top: 0 !important;
  margin-bottom: 1.75rem !important; // Base vertical spacing: (1.4 * 1.25) = 1.75
}

img {
  margin-bottom: 1.75rem !important; // Base vertical spacing: (1.4 * 1.25) = 1.75
}

.left {
  float: left;
}
.right {
  float: right;
}

.white {
  color: white;
}



a {
  &.dark {
    color: $phitau_grey;
  }
}
a.styled-inline-link {
  position: relative;
  display: inline-block;
  outline: none;
  color: white;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;

  border-bottom: 3px solid rgba(0,0,0,0.2);
  font-weight: 500;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;

  &:before, &:after{
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  &:hover, &:focus {
    border-color: rgba(0,0,0,0);
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
}

p {
  text-align: left;
  font-size: 1.2rem !important;
  font-family: 'Glegoo', serif;
  color: white;
  //
  // @media only screen and (min-width: 700px) {
  //   font-size: 1.25rem !important;
  // }
}

blockquote {
  color: white !important;
}
cite {
  color: white !important;
}

@include placeholder {
    font-style:italic;
    color: black !important;
    opacity: .5;
    // opacity: 1;
    // font-weight:bold;
}
input:focus {
  background-color: inherit;
}
.inputInvalid{
  // background-color: #ff9e9e !important;
  // &::-webkit-input-placeholder {color: white !important;}
  // :-moz-placeholder           {@content}
  // ::-moz-placeholder          {@content}
  // :-ms-input-placeholder      {@content}
  // @include placeholder_nested {
  //     // font-style:italic;
  //     color: white !important;
  //     opacity: 1;
  //     font-weight: bold;
  //     // opacity: 1;
  //     // font-weight:normal;
  // }
  box-shadow: 0 1px 19px 5px #ff4444!important;
  background-color: #ff4444;
}

.inputValid {
  // background-color: #a2ffa2 !important;
  // &::-webkit-input-placeholder {color: white !important;}
  // :-moz-placeholder           {@content}
  // ::-moz-placeholder          {@content}
  // :-ms-input-placeholder      {@content}
  // @include placeholder_nested {
  //     // font-style:italic;
  //     color: white !important;
  //     opacity: 1;
  //     font-weight: bold;
  //     // opacity: 1;
  //     // font-weight:normal;
  // }
  box-shadow: 0px 1px 19px 5px #9cf7a7 !important;
}

.button[disabled] {
  opacity: .5;
}

table thead {
  background-color: darken($harvard_red, 10);
  border: 3px solid $old_gold;
  color: $old_gold;
  font-size: 1.25rem;
}
table tbody {
  background-color: $harvard_red;
  border: 1px solid $old_gold;
  color: $old_gold;
  font-size: 1.25rem;
}
table tbody tr:nth-child(even) {
  background-color: darken($harvard_red, 10);
}



*.margin10 {
  margin: 10px !important;
}

.main-container{
  overflow: hidden;
}


.delay05{
  animation-delay: .5s;
}
.delay75{
  animation-delay: .75s;
}
.delay1{
  animation-delay: 1s;
}
.delay15{
  animation-delay: 1.5s;
}
.delay2{
  animation-delay: 2s;
}

.header-large-text {
  color: white;
  letter-spacing: 0.25em;
  // font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Source Sans Pro', serif;
  font-size: 3rem;
  font-weight: 600;
  animation-duration: 2.5s;

  @media only screen and (max-width: 700px) {
    font-size: 2rem;
  }
}
.header-small-text {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.5rem;
  color: #fff;
  opacity: .7;
  font-weight: 200;
  margin-bottom: 1rem;
  font-weight: 400;
  animation-duration: 2.5s;

  @media only screen and (max-width: 700px) {
    font-size: 1.2rem;
  }
}


#header-container {
  background: url('../images/phi-tau-banner.jpg');
  background-size: cover;
  background-position: center;
  animation-duration: 2s;
  #header {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, .7);
    h1 {

    }
    .subheader{

    }
  }
}

#lasertag-header {
  background: url('../images/phi-kappa-tag.svg');
  background-size: contain;
  background-position: center;
  animation-duration: .5s;
  background-repeat-y: no-repeat;
  background-color: #51B848;
  #header {
    padding-top: 200px;
    padding-bottom: 200px;
    // background-color: rgba(0, 0, 0, .7);
    h1 {

    }
    .subheader{

    }
  }
}


.section-container{
  background: $primary_color;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;

  &.lasertag {
    background-color: $lasertag_secondary;
  }

  &.inverted.lasertag {
    background-color: $lasertag_primary;
  }

  &.inverted{
    background: $secondary_color;
  }

  &.contains-divider {
    padding-top: 0;
    padding-bottom: 100px;

  }
}
.cursive-header {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
  color: white;
  text-align: center;

  @media only screen and (max-width: 700px) {
    font: 400 3.5rem 'Oleo Script', Helvetica, sans-serif;
  }

}
.light-header {
  font-family: 'Source Sans Pro', sans-serif;

  font-weight: 200;
  color: white;
  letter-spacing: 0.3em
}
.normal-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  letter-spacing: 0.3em;
  font-weight: 600;
}
.styled-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
.button.hollow.gold{
  border: 1px solid $secondary_color;
  color: $secondary_color;
  transition: none;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  &:hover, &:focus{
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.3);
    color: $secondary_color;
  }
}

a.styled-inline-link {
  position: relative;
  display: inline-block;
  outline: none;
  color: white;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;

  border-bottom: 3px solid rgba(0,0,0,0.2);
  font-weight: 500;


  &:before, &:after{
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  &:hover, &:focus {
    border-color: rgba(0,0,0,0);
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
}

.submit-button {
  background-color: $secondary_color;

  &:hover, &:focus{
    background-color: darken($secondary_color, 10%);
  }
  &:active {
    background-color: darken($secondary_color, 20%);
  }
}

.crest {
  &.small {
    width: 20em;
  }
}

.user-list {
  // border: 1px solid $old_gold;
}

.user-list-item {
  display: inline-block;
}

.user-list-name {
  display: inline-block;
  color: $old_gold;
  // height: 2em;
  line-height: 2em;
}

.user-attendance-options {
  display: inline-block;
  height: 2em;
}

.user-list-radio-button {
  margin: .5em;
  // margin-right: 1em;
}

.user-list-label {
  display: inline-block;
  height: 2em;
  margin: 0;
  margin-right: 1em;
  margin-left: 0 !important;
  color: $old_gold;
  padding-left: 5px;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;

}

.poll-progressbar {
  height: 50px;
  background-color: darken($harvard_red, 10);
  margin-bottom: 10px;
}
.poll-progressbar .progress-label {
  height: 50px;
  margin: 0;
  position: relative;
}
.poll-progressbar .progress-div {
  height: 50px;
  display: block;
  margin-top: -50px;
  background-color: $old_gold;
  transition: width 1s ease-in-out;
}
